<a class="grid-item {{post_class}}" href="{{post_url}}" title="{{post_title}}">
    <div class="post-inside">
        {{#if post_feature_image}}
            <div class="post-bg" style="background-image: url({{post_feature_image}})"></div>
        {{/if}}
        <div class="post-header">
            {{#if post_tags}}
                <div class="post-tags">
                    <span>{{post_tags}}</span>
                </div>
            {{/if}}
            <h2 class="post-title">{{post_title}}</h2>
            {{#if post_authors}}
                <div class="post-meta">
                    by <span class="post-author">{{post_authors}}</span> on
                    <time class="published" datetime="{{post_date format='YYYY-MM-DD'}}">{{post_date
                            format="MMMM DD, YYYY"}}</time>
                </div><!-- .post-meta -->
            {{/if}}
        </div><!-- .post-header -->
        <div class="post-content">
            <p>{{post_excerpt}}</p>
            <div class="read-more">
                <div class="button light">See It</div>
            </div>
        </div>
    </div>
</a>
